$color1: rgb(92, 242, 11);
$color2: rgb(255, 0, 251);
$color3: black;
$color4: grey;
$color5: rgb(230, 0, 255);
$color6: white;
$color7: blue;
$color8: red;
//----------
$font1: 2.5em;
$font2: 25px;
$font3: 1.4em;
$font4: 3em;